* 
    {
    margin: 20px;
    padding: 10px;
    }
    body
    {
    background-color: lightyellow;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    }
    p 
    {
    color: blue;
    text-align: center;
    }
    img 
    {
    border: 3px solid green;
    text-align: center;
    }